* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  margin-top: 0;
}

.container {
  background-color: #f5f5f5;
  display: flex;
}

.product-detail-wrap {
  padding-top: 24px;
  display: flex;
  width: 80%;
  background-color: white;
  margin: auto;
  align-items: top;
  cursor: default;
}
.range-img img {
  width: 20%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.content-right-wrap {
  padding-top: 12px;
  min-width: 320px;
}

.title-wrap h1 {
  text-align: center;
}
.evaluate-wrap {
  display: flex;
}

.price-wrap {
  display: flex;
}
.product-color-wrap {
  display: flex;
}
.count-buy-wrap {
  display: flex;
}
.plus-subtract {
  display: flex;
}
.add-to-cart-wrap {
  display: flex;
}
.onButton {
  background-color: orange;
  color: white;
}
#products-ram {
  margin: 4px;
  border: none;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
}
#products-rom {
  margin: 4px;
  border: none;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
}
#products-color {
  margin: 4px;
  border: none;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
}
.sold {
  color: gray;
  font-weight: 400;
}
.button-choose-quatity-product {
  padding: 0px 12px;
  border: none;
  border-radius: 2px;
}
.button-choose-quatity-product:hover {
  cursor: pointer;
  background-color: #ffa500;
  color: white;
}
.number-plus-subtract {
  padding: 0px 12px;
  font-weight: 500;
  color: rgb(38, 36, 36);
}
.available-product {
  margin-left: 16px;
}
.subtract {
  margin-left: 4px;
}
.price h1 {
  margin: 0;
}
.button-add-cart {
  margin-top: 16px;
  padding: 12px 28px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(26, 25, 25);
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
}
.button-add-cart:hover {
  cursor: pointer;
  background-color: #ffa500;
  color: white;
}
.buy-now {
  margin-left: 8px;
}

/* new detail */
.detail__container {
  width: 1200px;
  margin: 0 auto;
  font-size: 20px;
  padding: 0 20px;
}
.detail__container span {
  margin-right: 10px;
  font-weight: 600;
}
.detail__img {
  width: 500px;
  height: 400px;
  margin-right: 100px;
}
.detail__addButton {
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin-top: -5px;
  background-color: red;
  color: #fff;
}
.detail__input {
  width: 80px;
  padding:3px 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.detail__container1 {
  display: flex;
  background-color: #fafafa;
  padding: 20px;
}